//____CONSTANT
.certificate {
    position: relative;
    &__background {
        position: absolute;
        z-index: -1;
        width: 100%;
        background-image: url("../media/serctificat_background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__flexbox {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 3;
    }
}

//____DESCTOP
@media (min-width: $tabletscreen){
    .certificate{
        &__background {
            height: 850px;
        }
        &__container {
            margin-top: 150px;
            margin-bottom: 350px;
        }
        &__text {
            color: white;
            max-width: 430px;
        }
        &__flexbox{
            max-width: 930px;
            height: 420px;
        }
        &__flexbox > * + *{
            margin: 30px 0 30px 30px;
        }
    }
}

//____TEBLET
@media (max-width: $tabletscreen) and (min-width: $mobilescreen){
    .certificate{
        &__background {
            top: 100px;
            height: 300px;
        }
        &__container {
            margin-top: 150px;
        }
        &__image{
            width: 320px;
            height: 230px;
        }
        &__text{
            margin-top: 190px;
        }
    }
}

//__MOBILE
@media (max-width: $mobilescreen) {
    .certificate{
        &__background {
            top: 100px;
            height: 300px;
        }
        &__container {
            margin-top: 50px;
        }
        &__image{
            width: 320px;
            height: 230px;
        }
        &__text{
            margin-top: 190px;
        }
    }
}